.appWrapperContent {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.appWrapper {
    /*display: grid;*/
    width: 1200px;
    margin: 0 auto;
    /*grid-template-areas:*/
    /*    "nav content"*/
    /*    "nav content"*/
    /*    "nav content";*/
    /*grid-template-columns: 1fr 11fr;*/
    gap: 5px;
    padding: 10px;
}
.description {
    text-align: center;
    margin: 20px;
}



